In [626]:
import pandas as pd
import re

In [627]:
from tabulate import tabulate

## Codigo de Entrada

In [628]:
nome_arquivo = "input.p"
codigo_entrada = open("lib/input/" + nome_arquivo, "r", encoding="utf8").read()

In [629]:
print(codigo_entrada)

begin end if ; : :=
while for then 20 5.5 x1 a program

## Definição de DataFrame resultante

In [630]:
rows = []
df = pd.DataFrame(rows, columns=["Tipo", "Palavra", "Linha", "Posicao_Inicio", "Posicao_Fim"])
df

Empty DataFrame
Columns: [Tipo, Palavra, Linha, Posicao_Inicio, Posicao_Fim]
Index: []

In [631]:
def procurar_palavras(row, tipo, lista_palavras = ["entrada"]):
    for idx, palavra in enumerate(lista_palavras):
        if tipo in ["operadores","pontuação"]:
            regex = rf"(?<!:){re.escape(palavra)}(?!=)"
        elif tipo in ["inteiro"]:
            regex = r"[-+]?(?<!\w)(?<![\d.])\d+(?![\d.])"
        elif tipo in ["real"]:
            regex = r"[-+]?[0-9]*(\.[0-9]+)"
        else:
            regex = rf"(?i)\b{re.escape(palavra)}\b"

        matches = re.finditer(regex, codigo_entrada, re.MULTILINE)

        for matchNum, match in enumerate(matches, start=1):
            
            line = codigo_entrada[0:match.end()].count('\n') + 1   
            rows.append([tipo, match.group(), line, match.start(), match.end()])
    
    return rows

## Procurar Palavras Reservadas no Código

In [632]:
palavra_procurada = pd.read_csv("lib/model/palavras_reservadas.csv", header=None)
palavra_procurada = list(palavra_procurada[0])
tipo = "palavra reservada"

In [633]:
rows = procurar_palavras(rows, tipo, palavra_procurada)

## Procurar Variáveis no Código

In [634]:
palavra_procurada = pd.read_csv("lib/model/variaveis.csv", header=None)
palavra_procurada = list(palavra_procurada[0])
tipo = "variável"

In [635]:
rows = procurar_palavras(rows, tipo, palavra_procurada)

## Procurar Operadores no Código

In [636]:
palavra_procurada = pd.read_csv("lib/model/operadores.csv", header=None)
palavra_procurada = list(palavra_procurada[0])
tipo = "operadores"

In [637]:
rows = procurar_palavras(rows, tipo, palavra_procurada)

## Procurar Pontuação no Código

In [638]:
palavra_procurada = pd.read_csv("lib/model/pontuacoes.csv", header=None)
palavra_procurada = list(palavra_procurada[0])
tipo = "pontuação"

In [639]:
rows = procurar_palavras(rows, tipo, palavra_procurada)

## Procurar Números Inteiros no Código

In [640]:
tipo = "inteiro"

In [641]:
rows = procurar_palavras(rows, tipo)

## Procurar Números Decimais no Código

In [642]:
tipo = "real"

In [643]:
rows = procurar_palavras(rows, tipo)

## DataFrame resultante

In [644]:
df = pd.DataFrame(rows, columns=["Tipo", "Palavra", "Linha", "Posicao_Inicio", "Posicao_Fim"])

In [645]:
df = df.sort_values(by=['Posicao_Inicio']).reset_index(drop=True)

## Adicionar Coluna Quantidade_Por_Tipo

In [646]:
df["Quantidade"] = df.index + 1
df["Quantidade_Por_Tipo"] = ""

In [647]:
for tipo in df["Tipo"].unique():
    lista_indices = df[df["Tipo"]==tipo].index
    for idx, row in enumerate(lista_indices, start = 1):
        df.loc[row,'Quantidade_Por_Tipo'] = str(idx).zfill(2) + "/" + str(df.loc[row,'Quantidade']).zfill(2)

## Preparar DataFrames

In [648]:
total_linhas = df["Linha"].max()
total_tokens = df["Quantidade"].max()

In [649]:
## Isolando colunas desejadas

df = df[['Tipo','Palavra','Linha','Quantidade_Por_Tipo']]

In [650]:
## Renomeando colunas

df = df.rename(columns = {
    'Tipo' : 'Classe'
    , 'Palavra' : 'token'
    , 'Linha' : 'linha'
    , 'Quantidade_Por_Tipo' : 'quantidade (1ª coluna(qtdade da classe), 2ª qtdade de tokens)'
    })

In [651]:
df

,Classe,token,linha,"quantidade (1ª coluna(qtdade da classe), 2ª qtdade de tokens)"
0,palavra reservada,begin,1,01/01
1,palavra reservada,end,1,02/02
2,palavra reservada,if,1,03/03
3,pontuação,;,1,01/04
4,pontuação,:,1,02/05
5,operadores,:=,1,01/06
6,palavra reservada,while,2,04/07
7,palavra reservada,for,2,05/08
8,palavra reservada,then,2,06/09
9,inteiro,20,2,01/10
10,real,5.5,2,01/11
11,variável,x1,2,01/12
12,variável,a,2,02/13
13,palavra reservada,program,2,07/14

In [652]:
df_agrupado = df.groupby(by = 'Classe').size().reset_index(name='quantidade')

In [653]:
df_agrupado.loc[len(df_agrupado)] = ["Total linhas", total_linhas]
df_agrupado.loc[len(df_agrupado)] = ["Total tokens", total_tokens]

In [654]:
df_agrupado

              Classe  quantidade
0            inteiro           1
1         operadores           1
2  palavra reservada           7
3          pontuação           2
4               real           1
5           variável           2
6       Total linhas           2
7       Total tokens          14

## Arquivo de Saída

In [655]:
nome_arquivo_saida = f'output/{nome_arquivo}.csv'
df.to_csv(nome_arquivo_saida)

In [656]:
print(df.to_markdown(index = False, tablefmt="fancy_grid"))

╒═══════════════════╤═════════╤═════════╤═════════════════════════════════════════════════════════════════╕
│ Classe            │ token   │   linha │ quantidade (1ª coluna(qtdade da classe), 2ª qtdade de tokens)   │
╞═══════════════════╪═════════╪═════════╪═════════════════════════════════════════════════════════════════╡
│ palavra reservada │ begin   │       1 │ 01/01                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ palavra reservada │ end     │       1 │ 02/02                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ palavra reservada │ if      │       1 │ 03/03                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ pontuação         │ ;       │       1 │ 01/04                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ pontuação         │ :       │       1 │ 02/05                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ operadores        │ :=      │       1 │ 01/06                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ palavra reservada │ while   │       2 │ 04/07                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ palavra reservada │ for     │       2 │ 05/08                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ palavra reservada │ then    │       2 │ 06/09                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ inteiro           │ 20      │       2 │ 01/10                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ real              │ 5.5     │       2 │ 01/11                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ variável          │ x1      │       2 │ 01/12                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ variável          │ a       │       2 │ 02/13                                                           │
├───────────────────┼─────────┼─────────┼─────────────────────────────────────────────────────────────────┤
│ palavra reservada │ program │       2 │ 07/14                                                           │
╘═══════════════════╧═════════╧═════════╧═════════════════════════════════════════════════════════════════╛

In [657]:
print(df_agrupado.to_markdown(index = False, tablefmt="fancy_grid"))

╒═══════════════════╤══════════════╕
│ Classe            │   quantidade │
╞═══════════════════╪══════════════╡
│ inteiro           │            1 │
├───────────────────┼──────────────┤
│ operadores        │            1 │
├───────────────────┼──────────────┤
│ palavra reservada │            7 │
├───────────────────┼──────────────┤
│ pontuação         │            2 │
├───────────────────┼──────────────┤
│ real              │            1 │
├───────────────────┼──────────────┤
│ variável          │            2 │
├───────────────────┼──────────────┤
│ Total linhas      │            2 │
├───────────────────┼──────────────┤
│ Total tokens      │           14 │
╘═══════════════════╧══════════════╛